.cal-weeks {
  margin: 0 5% 1rem;
}
.cal-days {
  margin: 0 5% 2rem;
}

.cal-weeks,
.cal-days {
  display: flex;
  flex-wrap: wrap;
}

.today,
.open,
.partial,
.full {
  a { color: white !important };
}

.cal-days .cell::after {
  content: '';
  display: flex;
  padding-bottom: 100%;
}

.cell {
  flex: 1 1 14.28571428571429%;
  position: relative;
  z-index: 2;

  a {
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $colorBlack;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    overflow: hidden;
    span {
      position: relative;
      z-index: 1;
    }    
  }
  &.inactive a { color: #ccc !important; }
  &.open a { background: $colorOpen; }
  &.partial a { background: $colorPartial; }
  &.full a { background: $colorFull; }
  &.empty a { background: $colorEmpty; }
  &.today.empty a { background: $colorToday; }  
  &.today:not(.inactive):not(.empty) a::before {
    content: '';
    display: block;
    position: absolute;
    top: -30%;
    left: -30%;
    right: -30%;
    bottom: -30%;
    background: $colorToday;
    z-index: 0;
    transform: rotate(45deg) translate(-50%, 0);
  }
}

.legend {
  background: white;
  padding-top: 1rem;
  .key {
    display: inline-block;
    margin: 0.3rem 1rem;

    .color {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 0.2rem;
      margin-right: 0.5rem;
      &.today { background: $colorToday; }
      &.open { background: $colorOpen; }
      &.partial { background: $colorPartial; }
      &.full { background: $colorFull; }
      &.empty { background: $colorEmpty; }
    }
  }
}