.calendar {
  &__weeks {
    margin: 0 5% 1rem;
  }
  &__days {
    margin: 0 5% 2rem;
  }
  &__weeks,
  &__days {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    flex: 1 1 14.28571428571429%;
    position: relative;
    z-index: 2;
  }

  &__legend {
    background: white;
    padding-top: 1rem;
  }

  &__key {
    display: inline-block;
    margin: 0.3rem 1rem;
  }

  &__footer {
    background: $colorToday;
    padding: 0.6rem 0;
    box-shadow: 0 -0.2rem #ddd;
    border-radius: 0 0 0.2rem 0.2rem;

    ul {
      li {
        display: inline-block;
        margin: 0 0.5rem;
      }
    }
  }
}

.day {
  $root: &;
  &::after {
    content: '';
    display: flex;
    padding-bottom: 100%;
  }
  &--today,
  &--open,
  &--partial,
  &--full {
    #{$root}__link {
      color: white !important;
    }
  }
  &--inactive &__link {
    color: #ccc !important;
  }
  &--open &__link {
    background: $colorOpen;
  }
  &--partial &__link {
    background: $colorPartial;
  }
  &--full &__link {
    background: $colorFull;
  }
  &--empty &__link {
    background: $colorEmpty;
  }
  &--today.day--empty &__link {
    background: $colorToday;
  }
  &--today:not(&--inactive):not(&--empty) &__link::before {
    content: '';
    display: block;
    position: absolute;
    top: -30%;
    left: -30%;
    right: -30%;
    bottom: -30%;
    background: $colorToday;
    z-index: 0;
    transform: rotate(45deg) translate(-50%, 0);
  }

  &__link {
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $colorBlack;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    overflow: hidden;
  }

  &__date {
    position: relative;
    z-index: 1;
  }
}

.color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  &--today {
    background: $colorToday;
  }
  &--open {
    background: $colorOpen;
  }
  &--partial {
    background: $colorPartial;
  }
  &--full {
    background: $colorFull;
  }
  &--empty {
    background: $colorEmpty;
  }
}
