$fadeSpeed: 0.3s;

/*
 * FADE Transition
 */
.fade-enter {
  .view__body {
    opacity: 0;
  }
}
.fade-enter.fade-enter-active {
  .view__body {
    opacity: 1;
    transition: opacity $fadeSpeed;
  }
}
.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  .view__body {
    opacity: 1;
  }
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity $fadeSpeed;
}

.spinner {
  position: absolute;
  top: 8rem;
  left: 50%;
  z-index: 0;
  transform: translatex(-50%);

  i {
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-name: spinner;
    animation-iteration-count: infinite;
    font-size: 3rem;
    color: $colorToday;
    opacity: 1;
    transition: opacity 0.3s;
  }
}
.trips--loaded {
  .trip {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: slideDown;
    position: relative;
    z-index: 1;
  }
  & ~ .spinner {
    i {
      opacity: 0;
      animation-iteration-count: 1;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translate3d(0, -300%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
