/*
 * FADE Transition
 */
.fade-enter .view__body {
  opacity: 0; }

.fade-enter.fade-enter-active .view__body {
  opacity: 1;
  transition: opacity 0.3s; }

.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0; }
  .fade-exit .view__body {
    opacity: 1; }

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s; }

.control {
  flex: 0 1 20%; }
  .control__btn {
    border: none;
    background: transparent;
    color: white;
    background: #64B5F6;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem #1E88E5;
    transition: all 0.2s;
    position: relative;
    top: 0; }
    .control__btn:hover {
      top: -0.2rem;
      box-shadow: 0 0.4rem #1E87E5; }
    .control__btn:active {
      box-shadow: 0 0.2rem #1E88E5;
      transition: all 0s;
      top: 0; }
    .control__btn--active {
      background: white;
      color: #039BE5;
      box-shadow: 0 0.2rem #DDD; }
      .control__btn--active:hover {
        box-shadow: 0 0.4rem #DDD; }
      .control__btn--active:active {
        box-shadow: 0 0.2rem #DDD; }

* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

img {
  width: 100%;
  height: auto; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

.app {
  max-width: 30rem;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: #fafafa;
  overflow: hidden; }
